<h2 class="text-center text-2xl mt-7">
    Suscribe to the main currencies in the world!
</h2>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 mx-6 sm:mx-12 md:mx-28 my-12">
    <div class="h-60 border-4 rounded-2xl border-blue-700 bg-blue-200 flex justify-center items-center">
        <div class="cursor-pointer" (click)="showCurrencies = true">
            <img src="../../../assets/AddIcon.png" alt="AddIcon" class="w-24 ml-auto mr-auto">
            <p class="text-xl">Add currency</p>
        </div>
        <div *ngIf="showCurrencies" class="currencySelector">
            <p class="text-xl">Select the currency you want to subscribe:</p>
            <div *ngFor="let currency of currencyList" class="mt-1">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 rounded-full"
                    (click)="subscribeCurrency(currency.currencyCode)">Select</button>
                <p class="ml-4">{{currency.currencyCode}} - {{currency.name}} </p>
            </div>
            <div class="flex justify-center">
                <button type="button" (click)="showCurrencies = false"
                    class="text-white mt-4 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4
                    focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-5 py-2.5 text-center mr-2 mb-2">
                    Cancel</button>
            </div>
        </div>
    </div>
</div>