<h2 class="text-center text-3xl mt-7">
    Subscribe to the main currencies in the world!
</h2>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 mx-6 sm:mx-12 md:mx-28 my-12">
    <!-- Add currency card -->
    <div class="min-h-60 border-4 rounded-2xl border-blue-700 bg-blue-200 flex justify-center items-center select-none">
        <div class="cursor-pointer" (click)="showCurrencies = true">
            <img src="../../../assets/AddIcon.png" alt="AddIcon" class="w-24 ml-auto mr-auto">
            <p class="text-xl">Add currency</p>
        </div>
        <div *ngIf="showCurrencies" class="currencySelector">
            <p class="text-xl">Select the currency you want to subscribe:</p>
            <div *ngFor="let currency of currencyList" class="mt-1">
                <ng-container *ngIf="!checkCurrency(currency.currencyCode)">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 rounded-full"
                        (click)="subscribeCurrency(currency.currencyCode)">Select</button>
                    <p class="ml-4">{{currency.currencyCode}} - {{currency.name}} </p>
                </ng-container>
            </div>
            <div class="flex justify-center">
                <button type="button" (click)="showCurrencies = false"
                    class="text-white mt-4 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4
                    focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-5 py-2.5 text-center mr-2 mb-2">
                    Cancel</button>
            </div>
        </div>
    </div>

    <!-- Currency cards -->
    <ng-container *ngFor="let currency of userService.currencyHistory">
        <div *ngIf="currency" class="min-h-60 border-4 rounded-2xl border-blue-700 bg-blue-200">
            <div class="bg-white rounded-xl grid grid-cols-2 p-3">
                <div class="flex items-center">
                    <app-badge [type]="currency.currencyLog[0].fromCurrencyCode"></app-badge>
                    <p class="text-xl font-bold">{{currency.currencyLog[0].fromCurrencyName}}</p>
                </div>
                <div class=" font-bold flex items-center justify-end">
                    <app-badge [type]="currency.currencyLog[0].toCurrencyCode"></app-badge>
                    <p class="text-xl text-right">{{currency.currencyLog[0].toCurrencyName}}</p>
                </div>
            </div>

            <div class="p-4 text-lg leading-8">
                <p>Currently, 1.00 {{currency.currencyLog[0].fromCurrencyName}} equals
                    {{currency.currencyLog[0].exchangeRate | number : '1.2-2'}}
                    {{currency.currencyLog[0].toCurrencyCode}}</p><br>
                <p>
                    <span class="font-bold">Ask price:</span>
                    {{currency.currencyLog[0].askPrice | number : '1.2-5'}} {{currency.currencyLog[0].toCurrencyCode}}
                </p><br>
                <p>
                    <span class="font-bold">Bid price:</span>
                    {{currency.currencyLog[0].bidPrice | number : '1.2-5'}} {{currency.currencyLog[0].toCurrencyCode}}
                </p>
            </div>

            <div class="grid grid-cols-2 mb-4">
                <div>

                </div>
                <div class="">
                    <button
                        class="border-2 border-red-700 bg-white text-red-500 hover:text-red-700 font-medium px-2 rounded-full"
                        (click)="unsubscribeCurrency(currency.currencyLog[0].fromCurrencyCode)">Unsubscribe</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>